{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- End Header -->

        <!-- End Work -->

        <!-- Start Service -->
        <section class="service between">
            <div id="headmove-2" class="lines">
                <div data-depth="0.2" class="img-line">
                    <img src="{% static 'assets/img/lines.svg' %}" alt="">
                </div>

            </div>
            <div class="container">

                <div class="row">
                    <div class="col-8">
                        <div class="title-main">
                            <!--<h2>Service</h2>
                            <p>Tell us your goals.</p>-->
                        </div>
                    </div>

                    <div class="col-4 text-right">
                        <div class="button_su_border mt-10">
                            <span class="su_button_circle_border">
                            </span>
                            <a href="https://www.cia.gov/legacy/" class="button_su_inner_border load-halvor">-->
                                <span class="button_text_container_border">
                                    DISCORVE OUR LEGACY
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
             
        <!-- End Service -->

        <!-- Start About -->
        <section class="about between">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="title-main">
                            <h2>Who we are</h2>
                            <p>About our agency.</p>
                        </div>
                    </div>


                </div>

                <div class="row centered">
                    <div class="col-md-7 mt-30">
                        <div class="img-about">
                            <img class="img-fluid" src="{% static 'assets/img/about/1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="about-text mt-30">
                            <h1>Our Legacy</h1>
                            <h4>CIA’s legacy is one of brave individuals dedicated to freedom, fulfilling our intelligence mission with ingenuity and grit.</h4>
                            <p>Capabilities, not our illustration or smooth motion design. And even not our
                                communication
                                skills.Advance Your Career
                                Protect the Nation.
                                Search over 100 careers essential to our mission.</p>
                            <div class="mt-30"></div>
                            <div class="button_su_border">
                                <span class="su_button_circle_border">
                                </span>
                                <a href="https://www.cia.gov/careers/" class="button_su_inner_border load-halvor">
                                    <span class="button_text_container_border">
                                        FIND YOUR CALLING
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-6">
                        <div class="partner-img">
                            <img class="img-fluid" src="{% static 'assets/img/partner/client-1.png' %}" alt="">
                        </div>
                    </div>

                    <div class="col-md-2 col-6">
                        <div class="partner-img">
                            <img class="img-fluid" src="{% static 'assets/img/partner/client-2.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-6">
                        <div class="partner-img">
                            <img class="img-fluid" src="{% static 'assets/img/partner/client-3.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-6">
                        <div class="partner-img">
                            <img class="img-fluid" src="{% static 'assets/img/partner/client-4.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-6">
                        <div class="partner-img">
                            <img class="img-fluid" src="{% static 'assets/img/partner/client-5.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-6">
                        <div class="partner-img">
                            <img class="img-fluid" src="{% static 'assets/img/partner/client-6.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
            <!-- CIA Youtbe video embed -->
            <div class="modal fade" id="popup-video">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-body">
                            <!--<iframe src="https://www.youtube.com/watch?v=KM6TwU9Dr8c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/CTqsWRWHmlc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>                
           </div>

        </section>
        <!-- End About -->

        

        <!-- Start Footer -->
    {% endblock %}     

